*.o
*.lo
*.la
*~
*/autom4te.cache
*/install-sh
*/depcomp
*/config.*
*/configure
*/libtool
*/ltmain.sh
*/missing
*/aclocal.m4
Makefile
Makefile.in
.libs
.deps
sqlite
sqlite-autoconf-3070603.tar.gz
expat
expat-2.0.1.tar.gz
gsoap
gsoap_2.7.16.zip
buildroot/
contdaem.tar.gz
deviceroot
