version.txt
buildroot/
expat-2.0.1.tar.gz
expat/
gsoap/
gsoap_2.7.16.zip
qDecoder/
sqlite-autoconf-3070603.tar.gz
sqlite/
*~
firmwareupdate/files/version
contdaem.tar.gz
deviceroot/
firmwareupdate/*.tar.gz
\#.*
.#.*
*.org/
\#*
compile
