*.o
*.lo
*.la
*~
Makefile.in
.libs
.deps
modbusclient
modbusd
modbusutil
cnfigure
depcomp
install-sh
libmodbus.la
libtool
ltmain.sh
missing
stamp-h1
version.h
config.guess
config.h.in
config.h
config.log
config.status
config.sub
configure
Makefile
autom4te.cache/
aclocal.m4
INSTALL
COPYING

compile
